
@{
    ViewBag.Title = "Index";
}

<h2>Ajax sample</h2>

<form id="childForm" action="/Child/Create" method="post">
    <input id="firstName" type="text" name="firstName" />
    <input type="submit" value="Save" />
</form>

